[submodule "statistics"]
	path = modules/statistics
	url = https://github.com/Code-Inspect/flowr-statistics
[submodule "benchmark"]
	path = modules/benchmark
	url = https://github.com/Code-Inspect/flowr-benchmark
[submodule "cli"]
	path = modules/cli
	url = https://github.com/Code-Inspect/flowr-cli
