*.jpeg filter=lfs diffDataflowGraph=lfs merge=lfs -text
*.pdf filter=lfs diffDataflowGraph=lfs merge=lfs -text
*.png filter=lfs diffDataflowGraph=lfs merge=lfs -text
*.jpg filter=lfs diffDataflowGraph=lfs merge=lfs -text
*.gif filter=lfs diffDataflowGraph=lfs merge=lfs -text
