{
    "all": true,
    "per-file": true,
    "check-coverage": false,
    "skip-full": false,
    "lines": 70,
    "extension": [".ts"],
    "include": "src/**/*.ts",
    "reporter": ["html", "text", "lcov", "cobertura"]
}
