<footer>
	<div class="ends">
		<div>
			<b>Learn</b>
			<a href="https://github.com/flowr-analysis/flowr/wiki" target="_blank" rel="noopener">Wiki</a>
			<a href="https://github.com/flowr-analysis/flowr/wiki/Setup" target="_blank" rel="noopener">Setup</a>
			<a href="https://github.com/flowr-analysis/flowr/wiki/Interface" target="_blank" rel="noopener">Interface</a>
			<a href="https://github.com/flowr-analysis/flowr/wiki/Analyzer" target="_blank" rel="noopener">The analyzer</a>
			<a href="<!--FOOTER-ROOT-->doc/" target="_blank" rel="noopener">API docs</a>
		</div>
		<div>
			<b>R references</b>
			<a href="https://cran.r-project.org/doc/manuals/r-release/R-lang.html" target="_blank" rel="noopener">R Language Definition</a>
			<a href="https://adv-r.hadley.nz/" target="_blank" rel="noopener">Advanced R</a>
			<a href="https://cran.r-project.org/doc/manuals/r-release/R-ints.html" target="_blank" rel="noopener">R Internals</a>
		</div>
		<div>
			<b>Pages</b>
			<!--FOOTER-PAGES-->
		</div>
		<div>
			<b>Project</b>
			<a href="https://github.com/flowr-analysis/flowr" target="_blank" rel="noopener">Source on GitHub</a>
			<a href="https://github.com/flowr-analysis/flowr/releases" target="_blank" rel="noopener">Releases</a>
			<a href="https://github.com/flowr-analysis/flowr/issues/new?labels=enhancement&amp;template=generic-feature-request.md&amp;title=Capability%3A%20" target="_blank" rel="noopener">Suggest a capability!</a>
			<a href="https://github.com/flowr-analysis/flowr/issues/new?labels=bug&amp;template=bug-report.yaml" target="_blank" rel="noopener">Report a bug</a>
			<a href="https://github.com/flowr-analysis/flowr/security/policy" target="_blank" rel="noopener">Security policy</a>
			<a href="https://doi.org/10.1145/3763087" target="_blank" rel="noopener">Cite flowR</a>
		</div>
	</div>
	<!--FOOTER-NOTES-->
</footer>
